/* STYLE DE LA PAGE */
*{
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 90%;
}
/* STYLE DU HEADER */
.conteneurAccueil
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    color: rgb(102, 198, 236);
    height: 450px;

}

.titre{
    grid-column: 2/4;
    grid-row: 2;
}

.logo
{
    grid-column: 1/2;
    grid-row: 1;
    
}

h1
{
   
    font-family: 'Zen Dots', cursive;
    text-align: center;
    font-size: 70px;
    
}
#logo
{
   
    width : 300px;
    height: auto;
}
.nav{
    
    grid-column: 4/5;
    grid-row: 1;
    /* margin: 0 auto;
    width: 50%; */
    margin-top: 7px;
    padding: 10%;
    align-self: center;
}
.profil{
    grid-column: 4/5;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}
.nav a 
{
    
    border: 2px solid #04baf6;
    background-color: black;
    color: rgb(102, 198, 236);
    padding: 10px;
    font-family: 'Zen Dots', cursive;
    font-size: 10px;
    margin-left: 5%;
    align-self: center;
}

.nav a:hover
{
    border-color: #04baf6;
    background-color: #04baf6;
    color: black; 
    font-size: 17px;
}

.rechercher
{
    grid-column: 4/5;
    grid-row: 3;
    height : 50px;
    align-self: center;
    justify-self: center;
  
}
#rechercher{
    height: 50px;
    width: 200px;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
    font-size: 17px;
    padding-left: 10px;
}
.rechercher #btnOK{
    height: 50px;
    width: 50px;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
    font-size: 17px;
    margin-left: 5px;

}


/* STYLE DU FOOTER */

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    color: #04baf6; 
    height: 200px;
    align-self: center;
    justify-self: center;
    
}
.mentions{
    grid-column: 2;
    grid-row: 3;
    font-size: 13px;
    text-align: center;
}
.signature{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 15px;
    font-family: 'Zen Dots', cursive;
}

/* STYLE DU FORMULAIRE DE CONNEXION */
.connex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
   
}
.formConnex{
    grid-column: 2;
    grid-row: 2;
    background-color: black;
    color: #04baf6; 
    height: 400px;
    width: 500px;
    border: 2px solid white;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    box-shadow: 5px 5px 5px #04baf6;
    font-family: 'Zen Dots', cursive;
    align-self: center;
    justify-self: center;
    
}
.formConnex input{
    height: 30px;
    width: 200px;
    margin: 5%;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
}
.formConnex #btnOK{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
}

/* STYLE FORMULAIRE DE CREATION DE MESSAGE */
.nvMsg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
   
}
.formNvMsg{
    grid-column: 2;
    grid-row: 2;
    background-color: black;
    color: #04baf6; 
    height: 800px;
    width: 700px;
    border: 2px solid white;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    box-shadow: 5px 5px 5px #04baf6;
    font-family: 'Zen Dots', cursive;
    align-self: center;
    justify-self: center;
    
}
h2{
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
}
.formNvMsg input{
    height: 30px;
    width: 400px;
    margin: 5%;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
    padding: 2%;
}
.formNvMsg #btnOK{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    padding: 1%;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
}

.formNvMsg textarea{
    margin: 5%;
    height: 250px;
    width: 400px;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
    padding: 1%;
}

/*STYLE FORMULAIRE D INSCRIPTION */
.inscript{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
   
}
.formInscript{
    grid-column: 2;
    grid-row: 2;
    background-color: black;
    color: #04baf6; 
    height: 800px;
    width: 600px;
    border: 2px solid white;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    box-shadow: 5px 5px 5px #04baf6;
    font-family: 'Zen Dots', cursive;
    align-self: center;
    justify-self: center;
    
}
.formInscript #photo{
    width:400px;
    text-align: center;
}
.formInscript input{
    height: 30px;
    width: 200px;
    margin: 5%;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
}
.formInscript #btnOK{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    color: #04baf6; 
    font-family: 'Zen Dots', cursive;
}
